
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Our Story -->
<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img loading="lazy" src="~/images/services/service-one.jpg" class="responsive" alt="story" height="750">
            </div>
            <div class="col-lg-6">
                <div class="story-content">
                    <h2>Our Story</h2>
                    <h5 class="tagline">
                        "Initiated by a group of professionals with the support of some philanthropists and businessmen, in 2007, We started its journey with a purpose to provide indiscriminate, quality healthcare to all in a state-of-the-art, paperless hospital."</h6>

                        <h6>Mission</h6>
                        <p>
                            Create an excellence-driven, comprehensive, compassionate free of charge, replicable healthcare system accessible to all.
                            Serving people as a non-profit organization under the unparalleled through donations.
                         
                            Provide resources and an environment for the spiritual and professional training of all employees and comrades working in any capacity in the organization.
                            Continuous enhancement of capacity through quality education and research.
                        </p>
                        <h6>Vision</h6>
                        <p>
                            To realize its vision the Indus Hospital & Health Network will:

            
                            Dignity, Empathy & Compassion – Recognizing every life as a gift from God, valuing and caring for individuals.
                            Integrity – Honesty, fairness and self-scrutiny in all actions to ensure safety, confidentiality and privacy.
         
                            Respect – Extending courtesy to all stakeholders – patients, colleagues, staff, partners, donors, suppliers.
                            Justice & Equity – Ensure fairness in all processes.
                            Diversity, Inclusion & Gender Equality – Providing equal opportunity to all.
                            Ethical Practices & Transparency – Zero tolerance for malpractices, adherence to all applicable laws
                         

                        </p>
</div>
            </div>
        </div>
    </div>
</section>


