USE [medical]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 11/5/2021 2:16:11 AM ******/
--
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[appid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [varchar](50) NULL,
	[email] [varchar](220) NULL,
	[contact] [bigint] NULL,
	[appdate] [date] NULL,
	[dept] [varchar](50) NULL,
	[doctor] [varchar](60) NULL,
	[msg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 11/5/2021 2:16:11 AM ******/
SET ANSI_NULLS ON
GO
--
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[blogid] [int] IDENTITY(1,1) NOT NULL,
	[blogtitle] [varchar](max) NULL,
	[blogdescription] [varchar](max) NULL,
	[blogdate] [date] NULL,
	[blogauthor] [varchar](50) NULL,
	[cat_id] [int] NULL,
	[blogimg] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[blogid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/5/2021 2:16:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 11/5/2021 2:16:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[guestname] [varchar](500) NULL,
	[email] [varchar](500) NULL,
	[cdate] [date] NULL,
	[comments] [varchar](max) NULL,
	[blogid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contactus]    Script Date: 11/5/2021 2:16:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactus](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[guestname] [varchar](500) NULL,
	[email] [varchar](500) NULL,
	[phone] [bigint] NULL,
	[msg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register]    Script Date: 11/5/2021 2:16:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[contact] [bigint] NULL,
	[dob] [date] NULL,
	[email] [varchar](250) NULL,
	[username] [varchar](100) NULL,
	[pass] [varchar](100) NULL,
	[user_img] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[appointment] ON 

INSERT [dbo].[appointment] ([appid], [pname], [email], [contact], [appdate], [dept], [doctor], [msg]) VALUES (1, N'smith', N'smith@gmail.com', 56757867, CAST(N'2021-09-05' AS Date), N'Diagnostic', N'Diagnostic', N'fsdfsfs')
SET IDENTITY_INSERT [dbo].[appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[blog] ON 

SET IDENTITY_INSERT [dbo].[blog] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([cat_id], [category_name]) VALUES (1, N'Alumni')
INSERT [dbo].[category] ([cat_id], [category_name]) VALUES (2, N'psychology')
INSERT [dbo].[category] ([cat_id], [category_name]) VALUES (3, N'Sonogram')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([cid], [guestname], [email], [cdate], [comments], [blogid]) VALUES (1, N'smith jonathan', N'smith@gmail.com', CAST(N'2021-11-04' AS Date), N'fhfghfh', 1)
INSERT [dbo].[comments] ([cid], [guestname], [email], [cdate], [comments], [blogid]) VALUES (2, N'dfgdgdg', N'dgfdgdgdgdg@hjlasjd.com', CAST(N'2021-11-04' AS Date), N'holllaaaa', 1)
INSERT [dbo].[comments] ([cid], [guestname], [email], [cdate], [comments], [blogid]) VALUES (3, N'peter watson', N'peter@gmail.com', CAST(N'2021-11-04' AS Date), N'hello world', 2)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[contactus] ON 

INSERT [dbo].[contactus] ([cid], [guestname], [email], [phone], [msg]) VALUES (1, N'george', NULL, 6456456757, N'I want to know the operation theater timings.')
SET IDENTITY_INSERT [dbo].[contactus] OFF
GO
SET IDENTITY_INSERT [dbo].[register] ON 

INSERT [dbo].[register] ([userid], [fname], [lname], [contact], [dob], [email], [username], [pass], [user_img]) VALUES (1, N'smith', N'john', 7777777, CAST(N'1996-05-06' AS Date), N'smith@gmail.com', N'smith', N'123', N'ceo.jpg')
INSERT [dbo].[register] ([userid], [fname], [lname], [contact], [dob], [email], [username], [pass], [user_img]) VALUES (2, N'peter', N'paul', 8956785678, CAST(N'2021-08-04' AS Date), N'peter@gmail.com', N'peter', N'123', NULL)
INSERT [dbo].[register] ([userid], [fname], [lname], [contact], [dob], [email], [username], [pass], [user_img]) VALUES (3, N'susan', N'taylor', 890707, CAST(N'2021-08-01' AS Date), N'taylor@gmail.com', N'susan', N'123', N'pexels-josh-kobayashi-5131450.jpg')
SET IDENTITY_INSERT [dbo].[register] OFF
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[category] ([cat_id])
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD FOREIGN KEY([blogid])
REFERENCES [dbo].[blog] ([blogid])
GO
